.itemLvl
{
	color: #eee;
	font-size: 9px;
	position: absolute;
	left: 4px;
	top: 0;
}
.itemCraft
{
	color: #eee;
	font-size: 9px;
	position: absolute;
	right: 4px;
	top : 0;
}
.item-group-num-text
{
	top: 12px !important;
}